.mg-block-initiative .reaction {
    color: var(--color-text-light-1);
}

#mg-phase-tracker .mg-phase-buttons {
    flex-wrap: nowrap;
}

/* Style the phase "buttons" */
#mg-phase-tracker .mg-phase-button {
    margin: 3px 0;
    border: 2px solid var(--color-border-dark, #000);
    line-height: 24px;
    border-radius: 5px;
}

/* Fade out inactive phases */
#mg-phase-tracker .inactive {
    opacity: 0.5;
}

/* Style the first one in the row so that the corners are rounded correctly and so there is a margin on the left */
#mg-phase-tracker .mg-phase-buttons:first-child {
    margin-left: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  
/* Style the last one in the row so that the corners are rounded correctly and so there is a margin on the right */
#mg-phase-tracker .mg-phase-buttons:last-child {
    margin-right: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#mg-phase-tracker .enemies {
    background-color: rgb(200, 36, 36);
}

#mg-phase-tracker .players {
    background-color: rgb(36, 36, 200);
}